.header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0047AB;
    border-bottom: .5px solid black;
    box-shadow: 10px 10px 5px grey;
}

.header h1 {
    font-weight: bold;
    color: cornsilk;
}

.header p {
    color: cornsilk;
}

body {
    background-color: black;

}


.about {
    border: transparent;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    background-color: #28282B;
    color: cornsilk;
}

.about p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.projects {
    padding: 1em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    place-items: center ;
    background: #28282B;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.card {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    box-shadow: 10px 10px 5px black;
    transform: scale(0.8, 0.8);
}



.content img {
    border-radius: 25px;
    border: 1px solid black;
}

.desc {
    font-size: 20px;
    width: 21em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}


.content h3 {
    text-align: center;
    font-size: 24px;
}

.date {
    text-align: center;
    font-size: 1em;
    font-weight: bold;

    color: gray;
}

.nav    {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border: transparent;
    background-color: #0047AB;
    position: relative;
}

.nav a {
    font-size: 1.5em;
    color: cornsilk;

}
