.header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #28282B;
    border-bottom: transparent;
}

.header h1 {
    font-weight: bold;
    color: cornsilk;
    font-size: 30px;
}

.header p {
    color: cornsilk;
}

body {
    background-color:#28282B;
    margin: 0em;
}


.section {
    background-color: #28282B;
}

.about {
    border: transparent;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #28282B;
    color: cornsilk;
    border-bottom: 5px solid black;
}

.about p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-right: 100px;
    margin-left: 100px;
}

.projects {
    padding: 1em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    place-items: center;
    background: #28282B;
    border-bottom: 5px solid black;
}

.projects h1 {
    color: cornsilk;
}

.projects a {
    color: black;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.card {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 25px;
    height: 32em;
    width: fit-content;
    box-shadow: 10px 10px 5px black;
    transform: scale(0.8, 0.8);
}

.card:hover {
    box-shadow: 10px 10px 5px teal;
}

.content img {
    border-radius: 25px;
    border: 1px solid black;
    height: 15em;
    width: 30em;
   
}

.desc {
    font-size: 20px;
    width: 21em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

.content h3 {
    text-align: center;
    font-size: 24px;
}

.date {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: gray;
}

.nav    {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: #28282B;
    padding-left: 1em;
}

nav a {
    color: cornsilk;
    line-height: 1.5em;
    text-decoration: none;
    font-size: 20px;
    border-left: 3px solid cornsilk;
    padding-left: 1em;
    padding-right: 1em;
    scroll-behavior: smooth;
}

.skills_sec {
    display: flex;
    justify-content: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 5px solid black;
}

.skill_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.skill_list h3 {
    color: cornsilk;
    font-size: 22px;
    padding: .5em;
}

.skills h1 {
    color: cornsilk;
    font-size: 24px;
    text-align: center;
    background-color: #28282B;
    margin: 0em;
    margin-top: 1em;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.skill img {
    height: 50px;
    width: 50px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
}

.contact img {
    height: 100px;
    width: 100px;
    box-shadow: 10px 10px 5px black;
}

.contact img:hover {
    box-shadow: 10px 10px 5px teal;
}

